* {
  background-color: black;
  color: white;
}

body {
  padding: 20px;
}
#products {
  padding: 0;
  display: grid;
  row-gap: 40px;
  grid-template-columns: auto auto;
  list-style: none;
}
#products > li {
  display: flex;
  height: 40px;
  cursor: pointer;
}
